<h1>Editing Message</h1>
<%= turbo_frame_tag dom_id(@message) do %>
<div class="card">
  <%= render 'form', message: @message %>
  <%= link_to 'Cancel', @message %>
</div>
<% end %>
<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
