<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-header bg-info text-center text-white">
      <h1>Messages</h1>
    </div>

    <div class="card-body">
      <%= turbo_stream_from "messages" %>
      <%= turbo_frame_tag "message_form" do %>
        <%= render "form", message: @message %>
      <% end %>
      <br><br>
      <%= turbo_frame_tag "messages" do %>
        <%= render @messages %>
      <% end %>

    </div>

  </div>
</div>
