<p id="notice"><%= notice %></p>

<%= turbo_frame_tag dom_id(@message) do %>
  <%= render @message %>
<% end %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
